

input.CheckboxSize {
    width: 25px;
    height: 25px;
}

input[type=number]{
    width: 130px;
}

input.textbox {
    border: 1px solid #777777;
}

.btnCross {
    background-color: transparent;
    border: none;
    color: red;
    padding: 1px 1px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}